body{
    font-family: 'Playfair Display', serif;
}
header{
    background-color: #F0FFF0;;
}
span{
    color: #21B573;
}
h3, h4{
    color:#413960;
    font-weight: bolder;
}
.container{
    margin-bottom: 70px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px;
}
.nav-item{
    margin: 10px;
}
.nav-item a{
    color: #000000;   
}
.navbar-toggler{
    background-image: url("images/ICON/navbar-toggler.png");
    background-repeat: no-repeat;
    background-position: center;
}
.start{
    color: #FD511A;
}
#sing-in{
    background-color: #21B573;
    border-radius: 33px;
}
.button{
    background-color: #21B573;
    border-radius: 33px;
    border: none;
    width: 153px;
    height: 43px;
}
.catagories img{
    width: 66px;
    height: 85px;
}
.c{
    padding: 8%;
    margin: 3%;
    border-radius: 10px;
    /* width: 270px;
    height: 270px; */
    background-color: #F8FFFB;
    align-items: center;
}
.c p{
    text-align: center;
}
.cat-2{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF !important;
}
.top{
    text-align: center;
}
.card-footer{
    background-color: none !important;
}
.card{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-footer img{
    width: 24px;
    height: 24px;
}
.test{
    padding-right: 15%;
    padding-left: 15%;
    margin: 5%;
}
.test img{
    width: 120px;
    height: 120px;
}
.img-t, .test-body-t{
    margin: 5%;
    align-items: center;
}
.test-body-t{
    text-align: justify;
}
footer{
    box-shadow:10px 20px 80px rgba(0, 0, 0, 0.1);
    margin-bottom: 0%!important;
}